body {
    background-image: url(../images/denise-jans-Lq6rcifGjOU-unsplash.jpg);
    background-size: 100%;
}

#mainContent {
    margin-top: 20px;
}

#loginForm {
    background-color: rgba(169, 43, 43, 0.61);
    padding: 10px 20px 20px 20px;
}

#pageTitle {
    color: maroon;
    font-family: script;
}



