body {
    background-color: lightGrey;
}

#mainContent {
    margin-top: 20px;
}

#loginForm {
    background-color: grey;
    padding: 10px 20px 20px 20px;
}

#pageTitle {
    font-size: 50px;
    color: red;
    font-family: script;
}

article {
    padding: 10px;
    margin: 20px;
    color: white;
    background-color: black;
    text-align: center;
}

.movieDetails {
    margin: 1px;
}

.movieTitle {
    font-family: serif;
}



